<!-- Header -->
<nav class="navbar shadow-sm p-3 mb-5 bg-white rounded"
	[ngClass]="translate.currentLang && translate.currentLang !== 'tn' ? 'ltr-direction' : 'rtl-direction'">
	<span class="p-2">
		<a href="https://deplacement-covid-19.web.app" title="">
			<img src="../assets/images/logo.png" alt="deplacement-covid-19"> </a>
	</span>
	<ngx-flag-picker #selectedLang [selectedCountryCode]="selectedCountryCode" [countryCodes]="translate.getLangs()"
		(changedCountryCode)="switchLang($event)">
	</ngx-flag-picker>
</nav>
<!-- Header -->

<!-- Container -->
<div class="container"
	[ngClass]="translate.currentLang && translate.currentLang !== 'tn' ? 'ltr-direction' : 'rtl-direction'">

	<h1 class="form-row">
		<span class="covid-title col-md-2 mb-3">{{'title' | translate}}</span>
		<span class="covid-subtitle col-md-10 mb-3">{{'subtitle' | translate}}</span>
	</h1>

	<div class="form-row">
		<p class="justify-content"> {{'description' | translate}} </p>
	</div>


	<form (ngSubmit)="onSubmit()" [formGroup]="form" class="needs-validation" novalidate>

		<h4> {{'form-title' | translate}} :</h4>
		<span>{{'form-message' | translate}}</span>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label>{{'firstName' | translate}}</label>
				<input type="text" class="form-control" formControlName="firstName"
					placeholder="{{'firstNamePlaceholder' | translate}}" required
					[class.is-invalid]="submitted && formControls.firstName.errors">
				<div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
					{{'fieldFeedback' | translate}}
				</div>
			</div>

			<div class="col-md-6 mb-3">
				<label>{{'lastName' | translate}}</label>
				<input type="text" class="form-control" formControlName="lastName"
					placeholder="{{'lastNamePlaceholder' | translate}}" required
					[class.is-invalid]="submitted && formControls.lastName.errors">
				<div class="valid-feedback" *ngIf="submitted && formControls.lastName.errors">
					{{'fieldFeedback' | translate}}
				</div>
			</div>
		</div>

		<div class="form-group">
			<label>{{'birthday' | translate}}</label>
			<div class="input-group  align-items-center">
				<input type="text" formControlName="birthday"
					pattern="^([0][1-9]|[1-2][0-9]|30|31)\/([0][1-9]|10|11|12)\/(19[0-9][0-9]|20[0-1][0-9]|2020)"
					inputmode="numeric" class="form-control" name="birthday" aria-invalid="true" autocomplete="bday"
					placeholder="01/01/1970" maxlength="10" required
					[class.is-invalid]="submitted && formControls.birthday.errors">
				<span class="validity" aria-hidden="true"></span>
			</div>
			<div class="valid-feedback" *ngIf="submitted && formControls.birthday.errors">
				{{'fieldFeedback' | translate}}
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-12 mb-3">
				<label>{{'birthplace' | translate}}</label>
				<input type="text" class="form-control" formControlName="birthplace"
					placeholder="{{'birthplacePlaceholder'| translate}}" required
					[class.is-invalid]="submitted && formControls.birthplace.errors">
				<div class="invalid-feedback" *ngIf="submitted && formControls.birthplace.errors">
					{{'birthplaceFeedback' | translate}}
				</div>
			</div>

			<div class="col-md-12 mb-3">
				<label>{{'address' | translate}}</label>
				<input type="text" class="form-control" formControlName="address"
					placeholder="{{'addressPlaceholder' | translate}}" required
					[class.is-invalid]="submitted && formControls.address.errors">
				<div class="invalid-feedback" *ngIf="submitted && formControls.address.errors">
					{{'addressFeedback' | translate}}
				</div>
			</div>

			<div class="col-md-6 mb-3">
				<label>{{'city' | translate}}</label>
				<input type="text" class="form-control" formControlName="city"
					placeholder="{{'cityPlaceholder' | translate}}" required
					[class.is-invalid]="submitted && formControls.city.errors">
				<div class="invalid-feedback" *ngIf="submitted && formControls.city.errors">
					{{'cityFeedback' | translate}}
				</div>
			</div>

			<div class="col-md-6 mb-3">
				<label>{{'zip' | translate}}</label>
				<input type="text" class="form-control" formControlName="zip"
					placeholder="{{'zipPlaceholder' | translate}}" required
					[class.is-invalid]="submitted && formControls.zip.errors">
				<div class="invalid-feedback" *ngIf="submitted && formControls.zip.errors">
					{{'zipFeedback' | translate}}
				</div>
			</div>

		</div>

		<div class="form-row">
			<legend>{{'patternTitle' | translate}} </legend>
		</div>

		<div class="form-group">
			<div class="custom-control custom-checkbox" *ngFor="let reason of reasons; let i = index"
				formArrayName="reasonList">
				<input type="checkbox" [value]="i" class="custom-control-input" [id]="i" [formControlName]="i"
					[class.is-invalid]="submitted && formControls.reasonList.errors">
				<label class="custom-control-label justify-content" [for]="i">{{reason}}</label>
				<div class="invalid-feedback" *ngIf="submitted && formControls.reasonList.errors">
					{{reason}}
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 mb-3">
				<label>{{'exitDate' |translate}}</label>
				<input type="date" class="form-control" formControlName="exitDate" name="datesortie" autocomplete="off"
					placeholder="JJ/MM/YYYY" aria-invalid="true" required
					[class.is-invalid]="submitted && formControls.exitDate.errors">
				<div class="invalid-feedback" *ngIf="submitted && formControls.exitDate.errors">
					{{'fieldFeedback' | translate}}
				</div>
			</div>

			<div class="col-md-6 mb-3">
				<label>{{'exitTime' |translate}}</label>
				<input type="time" class="form-control" formControlName="exitTime" name="heure" autocomplete="off"
					aria-invalid="true" required [class.is-invalid]="submitted && formControls.exitTime.errors">
				<div class="invalid-feedback" *ngIf="submitted && formControls.exitTime.errors">
					{{'fieldFeedback' | translate}}
				</div>
			</div>
		</div>

		<img src="../assets/images/redo-alt-solid.svg" alt="X" class="signature-pad-clear-btn"
			(click)="signaturePad.clearPad()">
		<ng-signature-pad format="base64" [emitOnDragEnd]="true" (done)="setSignature($event)" [showClearButton]="false"
			[showDoneButton]="false" #signaturePad>
		</ng-signature-pad>

		<button class="btn btn-primary" type="submit">{{'submit' |translate}}</button>
	</form>
</div>
<!-- Container -->

<!-- Footer -->
<footer class="footer-copyright text-center py-3">
	<p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
		<a href="bouhlel-ahmed.web.app">AhmedBhl</a>
	</p>
	<ul class="social-icons">
		<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
		<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
		<li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
		<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
	</ul>
</footer>
<!-- Footer -->